<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
    <div class="logo">
      <a href="/">
        <img src="assets/logo home.png" alt="Logo">
      </a>
    </div>

    <ul class="nav">
      <li><a href="#" class="nav-link">Home</a></li>
      <li><a href="#" class="nav-link">Browse Jobs</a></li>
      <li><a href="#" class="nav-link">About</a></li>
      <li><a href="#" class="nav-link">Contact</a></li>
    </ul>

    <div class="buttons">
      <button routerLink="/signin" class="btn btn-outline-dark me-2">Login</button>
      <button routerLink="/signup" class="btn btn-dark">Sign-up</button>
    </div>
  </header>
</div>


