<div class="sidebar">
    <div class="logo">
      <img src="../../assets/sidebar3.png" alt="Company Logo" class="logo-img">
    </div>
    
    <ul>
      <li><a routerLink="/dashagent" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/profilagent" routerLinkActive="active">My Profile</a></li>
      <li><a routerLink="/offerslistagent" routerLinkActive="active">Offers List</a></li>
      <li><a routerLink="/applicationslistagent" routerLinkActive="active">Applications List</a></li>
      <li><a routerLink="/interviwslistagent" routerLinkActive="active">Interviews List</a></li>
    </ul>
  </div>
  
  
    <router-outlet></router-outlet>
  

