<app-componentscandidat></app-componentscandidat>
<p class="content"></p> <!-- this is important for the width of the page don't delete it -->

<div class="welcome content">
    <div class="welcome-label">
        <h1 class="user">Fakhri</h1>
        <p class="desc">You can view the details of your interviews</p>
        
    </div>
    <!-- Other content of the dashboard goes here -->
</div>


<div class="job-offer-box content"  >
    <div class="job-offer-content">
      <p> Your interview detail for the position <span> Full-Stack Developer </span> and we thank you for your interest in our company </p>
      <table>
        <thead>
            <tr>
                <th>Application ID</th>
                <th>Interview date</th>
                <th>Job interview</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>61</td>
                <td>08/23/2023, 9:00 AM</td>
                <td>Face to face</td>
                <td>None</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>


