<app-componentscandidat></app-componentscandidat>
<p class="content"></p> <!-- this is important for the width of the page don't delete it -->

<div class="welcome content">
    <div class="welcome-label">
        <h1 class="user">Welcome<span class="user"> Fakhri</span> </h1>
        <p class="desc">You can view job offers and apply</p>
        
    </div>
    <!-- Other content of the dashboard goes here -->
</div>


<div class="job-offer-box content"  >
    <div class="job-offer-content">
      <h2>Full-Stack Developer</h2>
      <p class="option-title">Job mission : <span> {{text}} </span></p>
      <p class="option-title">Diploma : <span>development engineering</span></p>
      <p class="option-title">Experience level : <span>3 to 5 years</span></p>
      <p class="option-title">Skills : <span>Proficiency in front-end technologies such as HTML, CSS, and JavaScript.Experience with back-end technologies (Node.js, Python,Java).
        Familiarity with database systems (MySQL, MongoDB).Knowledge of version control systems (Git).Problem-solving abilities and an analytical mindset.</span></p>
      <p class="option-title">Max age : <span>27</span></p>
      <p class="option-title">requirement : <span>Excellent communication and teamwork skills.Ability to work independently and meet project deadlines.
        Portfolio of web applications and projects.</span></p>
    </div>
    <input class="btn btn-primary apply-button" type="submit" value="Apply">
</div>

<div class="job-offer-box content"  >
    <div class="job-offer-content">
      <h2>Mobile Developer</h2>
      <p class="option-title">Job mission : <span> Develop and maintain high-performance mobile applications for Android and/or iOS platforms.
        Collaborate with UI/UX designers to implement user-friendly interfaces and experiences. </span></p>
      <p class="option-title">Diploma : <span>Software engineering</span></p>
      <p class="option-title">Experience level : <span>3 to 5 years</span></p>
      <p class="option-title">Skills : <span>Proficiency in programming languages such as Java/Kotlin (for Android) or Swift/Objective-C (for iOS).
        Familiarity with mobile development frameworks and technologies.
        Experience with mobile app testing and debugging.Knowledge of RESTful APIs and integration.</span></p>
      <p class="option-title">Max age : <span>27</span></p>
      <p class="option-title">requirement : <span>Excellent communication and teamwork skills.Ability to work independently and meet project deadlines.
        Portfolio of web applications and projects.</span></p>
    </div>
    <input class="btn btn-primary apply-button" type="submit" value="Apply">
</div>

 
  


