<app-componentsagent></app-componentsagent>
<p class="content"></p> <!-- this is important for the width of the page don't delete it -->
<div class="welcome content">
    <div class="welcome-label">
        <h1 class="user">Welcome<span class="user"> Raouf</span> </h1>
        <p class="desc">You can view your stats</p>
        
    </div>
    <!-- Other content of the dashboard goes here -->
</div>


<div class="job-offer-container"> 
    <div class="job-offer-option content">
        
        <div class="title-container">
            <p class="offer-title">Total number of offers</p>
            <p class="offer-nbr">3</p>
            <div class="icon-circle-offer">
                <i class="fa-solid fa-briefcase"></i>
            </div>
        </div>
        <div class="offer-desc">
            <p style="color: green;">Enabled : <span> 2 </span></p>
            <p class="second-desc" style="color: red;">Disabled : <span> 1 </span></p>

        </div>
        
        

    </div>
    <div class="job-offer-option content">
        <div class="title-container">
            <p class="offer-title">Total number of candidates</p>
            <p class="offer-nbr">4</p>
            <div class="icon-circle">
                <i class="fa-solid fa-person"></i>
            </div>
        </div>
        <div class="offer-desc">
            <p style="color: green;">Male : <span> 2 </span></p>
            <p class="second-desc" style="color: red;">Female : <span> 2 </span></p>

        </div>
        
    </div>
</div>
<div class="job-offer-container"> 
    <div class="job-offer-option content">
        <div class="title-container">
            <p class="offer-title">Total number of applications </p>
            <p class="offer-nbr">3</p>
            <div class="icon-circle">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>
        <div class="offer-desc-app">
            <p style="color: green;">accepted : <span> 1 </span></p>
            <p class="second-desc-app" style="color: red;">Refused : <span> 1 </span></p>
            <p class="second-desc-app" style="color: orange;">In progress : <span> 1 </span></p>

        </div>

    </div>
    <div class="job-offer-option content">
        <div class="title-container">
            <p class="offer-title">Total number of interviews</p>
            <p class="offer-nbr">1</p>
            <div class="icon-circle">
                <i class="fa-regular fa-calendar"></i>
            </div>
        </div>
        <div class="offer-desc">
            <p style="color: green;">Face to Face : <span> 1 </span></p>
            <p class="second-desc" style="color: red;">Online : <span> 0 </span></p>

        </div>
        
    </div>
</div>
