.content {
  margin-left: 250px;
  padding: 20px;
}

 /* welcome styles */
.welcome {
margin-top: 20px; /* Adjust the margin based on the height of the fixed navbar */
padding: 20px;
/* Other dashboard styles */
}
.user{
color: #0471EF;
}
.desc{
font-size: 16px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.job-offer-box {
  background-color: #f0eded;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 20px 40px 50px 290px; /* Add 20px left and right margin, adjust as needed */
  padding: 20px;
}
.job-offer-box:hover{
  box-shadow: 0px 0px 15px 0px rgba(106, 106, 106, 0.7);
}

.job-offer-content p {
  text-align:left;
  font-weight: bold;
  font-size:20px;
  
}
.job-offer-content p span{
  text-align:left;
  font-weight: bold;
  font-size:20px; 
}

.apply-container {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

.apply-text {
  margin-right: 10px; /* Add space between the text and the button */
}
.manager-name {
  font-weight: bold;
  font-size: 18px;
}

.apply-button {
  width: 100px;
  margin-bottom: 10px;
  margin-left: 70%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0471EF; /* Button background color */
  color: #ffffff; /* Button text color */
  cursor: pointer;
  }

  
.another-button {

  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: red; /* Button background color */
  color: #ffffff; /* Button text color */
  
  }
  
  .another-button:hover {
  background-color: #eb7881; /* Change background color on hover */
  }









/* CSS */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  
  padding: 8px;
  text-align: center; /* Align text inside cells */
  width: 25%; /* Set equal width for all columns */
 
}

th:nth-child(2),
td:nth-child(2) {
  text-align: center; /* Align 'b' to the center */
}

th:nth-child(3),
td:nth-child(3) {
  text-align: center; /* Align 'b' to the center */
}

th:last-child,
td:last-child {
  text-align: center; /* Align 'c' to the right */
}

