<app-componentscandidat></app-componentscandidat>
<p class="content"></p> <!-- this is important for the width of the page don't delete it -->

<div class="welcome content">
    <div class="welcome-label">
        <h1 class="user">Fakhri</h1>
        <p class="desc">You can follow the progress of your applications</p>
        
    </div>
    <!-- Other content of the dashboard goes here -->
</div>


<div class="job-offer-box content"  >
    <div class="job-offer-content">
      <p> We have received your application for the job opening <span> Mobile Developer </span> and we thank you for your interest in our company </p>
      <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Filing date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>52</td>
                <td><div class="colored-box-red">applications refused</div></td>
                <td>08/16/2023</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="job-offer-box content"  >
    <div class="job-offer-content">
      <p> We have received your application for the job opening <span> Full-Stack Developer </span> and we thank you for your interest in our company </p>
      <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Filing date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>61</td>
                <td><div class="colored-box-green">applications accepted</div></td>
                <td>08/17/2023</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="job-offer-box content"  >
    <div class="job-offer-content">
      <p> We have received your application for the job opening <span> UI/UX Designer </span> and we thank you for your interest in our company </p>
      <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Filing date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>70</td>
                <td><div class="colored-box-yellow">applications in progress</div></td>
                <td>08/18/2023</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
