<div class="sidebar">
    <div class="logo">
      <img src="../../assets/sidebar3.png" alt="Company Logo" class="logo-img">
    </div>
    
    <ul>
      <li><a routerLink="/candidatdash" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/profilcandidat" routerLinkActive="active">My Profile</a></li>
      <li><a routerLink="/myapplicationscandidat" routerLinkActive="active">My Applications</a></li>
      <li><a routerLink="/myinterviwscandidat" routerLinkActive="active">My Interviews</a></li>
    </ul>
  </div>
  
  
    <router-outlet></router-outlet>
  
